.header img {
    width: 200px;
    height: auto;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers {
    display: flex;
}

.left-section {
    flex: 1;
}

#container-input {
    margin-bottom: 20px;
}

#container-input * {
    color: 10px;
}

.right-section {
    flex: 2;
}


#map {
    height: 92vh; /* or any desired height */
    width: 100vw; /* or any desired width */
    margin: 0;
    padding: 0;
}

.search_box {
    width: calc(100% - 40px); /* Subtract the desired margin from 100% */
    margin: 0 20px; /* Add the desired margin on the right and left sides */
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search_input {
    border: none;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    flex: 1;
}

.search_button {
    height: 40px;
    border: none;
    background-color: transparent;
    color: #3b86f7;
    padding: 0 15px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_button:hover {
    color: #5491ed;
}

.expand-and-remove {
    margin-bottom: 10px;
}

/* Add these styles in your CSS file */
.container-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.container-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-info > div {
    margin-right: 20px;
}

.container-info > div p {
    margin: 0;
}

#toggleDetailsButton {
    align-self: flex-start;
}

#extraDetails {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}