.header img {
    width: 200px;
    height: auto;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers {
    display: flex;
}

.left-section {
    flex: 1;
}

#container-input {
    margin-bottom: 20px;
}

#container-input * {
    border-radius: 20px;
    border-style: none;
}

.right-section {
    flex: 2;
}


#map {
    height: 88vh; /* or any desired height */
    width: 100vw; /* or any desired width */
    margin: 0 25px 10px 10px;
    border-color: white;
    border-style: solid;
    padding: 0;
    border-radius: 20px;
}

.search_box {
    width: calc(100% - 40px); /* Subtract the desired margin from 100% */
    margin: 0 20px; /* Add the desired margin on the right and left sides */
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.search_input {
    border: none;
    height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    flex: 1;
}

.search_button {
    height: 40px;
    border: none;
    background-color: transparent;
    color: #408bf4;
    padding: 0 15px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 249, 250);
}

.search_button:hover {
    color: #5491ed;
}

.expand-and-remove {
    margin-bottom: 10px;
}

.container-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container-info > div {
    margin-right: 20px;
}

.container-info > div p {
    margin: 0;
}

#toggleDetailsButton {
    align-self: flex-start;
}

#extraDetails {
    margin-top: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.card-title {
    border-radius: 50%;
}

.card {
    margin-right: 10px;
    border-radius: 2.25rem !important;
}

#containerDetails {
    margin-left: 20px;
}

.api-limit-notice {
    font-size: 0.9rem;
    color: #666;
    margin: 0.5rem 1rem 1rem 1rem;

}